@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;600;700;800&display=swap');
.footer{
    height: 389px;
    width: 100%;
    background: #0D0E43;
    display: flex;
    gap: 10%;
    padding-left: 15%;
    padding-top: 7%;
    margin-top: 7%;
}
.h3 .foot-head{
    color: white;
}
.h3{
    font-family: 'Crimson-Text';
    font-weight: 400;
    font-size: 25px;
    color: #8568FF;
}
.category{
    margin-left: 10%;
}
.category, .my-account, .follow{
    display: block;
}
.category-head, .my-account-head, .follow-head{
    font-weight: 400;
    font-size: 19px;
    color: white;
    padding-bottom: 10px;
}
.category-details, .my-account-details{
    display: block;
}
.category-item, .my-account-item{
    font-weight: 400;
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
.follow-details{
    display: flex;
    gap: 10px;
}
.follow-icon{
    background-color: white;
    /* background-size: contain; */
    width: 35px;
    height: 35px;
    padding: 5px;
    font-size: 22px;
    border: 1px solid white;
    border-radius: 50%;
    color: #0D0E43;
}